<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <img src="/images/Kre8.jpg" alt="" />
    <p>
      There is no mistaking the art of Kevin “Kre8” Vigil. His distinct style of
      colorful, abstract splashes against black-and-gray compositions has earned
      him fans around the world. Drawing on a unique background steeped in
      graffiti art, tattoo artistry, and a love of Surrealism, Kre8 has inspired
      art lovers to share in his vision of enjoying creativity and life.
    </p>
  </body>
</html>
